name: x64 Linux Build
on: workflow_dispatch
jobs:
  build:
    name: Linux Build
    runs-on: ubuntu-20.04 # Distro with at least an suitable GLibC version
    permissions: write-all
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true # IMPORTANT!

      - name: Restore Cache Files
        id: restore-cache
        uses: actions/cache@v4.0.2
        with:
          path: |
            .haxelib
            export/release/linux/haxe
            export/release/linux/obj
          key: funkin-cache-linux

      - name: Setup Haxe environment
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.4

      - name: Install VLC dependencies
        run: |
            sudo apt-get update
            sudo apt-get install libvlc-dev libvlccore-dev

      - name: Setup Haxe libraries
        run: |
           haxelib --quiet install hmm
           haxelib --quiet run hmm setup
           haxelib --quiet run hmm reinstall

      - name: Build Game
        run: haxelib run lime build linux

      - name: Add Executable Privileges and Pack to Tar
        run: |
          chmod +x export/release/linux/bin/Funkin
          tar -cvf funkin-linux-64bit-unofficial.tar.gz export/release/linux/bin

      - name: Upload!
        uses: actions/upload-artifact@v4
        with:
          name: funkin-linux-64bit-unofficial.tar.gz
          if-no-files-found: error

      # Thanks to https://stackoverflow.com/a/73556714 for the code!
      - name: Clear cache
        uses: actions/github-script@v6
        with:
          script: |
            console.log("About to clear")
            const caches = await github.rest.actions.getActionsCacheList({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })
            for (const cache of caches.data.actions_caches) {
              console.log(cache)
              github.rest.actions.deleteActionsCacheById({
                owner: context.repo.owner,
                repo: context.repo.repo,
                cache_id: cache.id,
              })
            }
            console.log("Clear completed")
            
      - name: Save Compiled Data
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: |
            .haxelib
            export/release/linux/haxe
            export/release/linux/obj
          key: funkin-cache-linux
